<%= stylesheet_link_tag "application-admin" %>
<%= stylesheet_link_tag "application" %>
<div class="column is-4 is-offset-4">
<div class="box">
<%= form_tag login_path,{:class => "form-signin"} do %>
  <h2 class="title has-text-centered has-text-grey">Giriş Yap</h2>
 <div class="field"> <%= text_field_tag 'user[username]',nil,{:class => "input",:placeholder=> "Kullanıcı Adı"} %></div>
    <div class="field"> <%= password_field_tag 'user[password]',nil,{:class => "input",:placeholder=> "Şifre"} %></div>
  <%= submit_tag "Giriş",{:class => "button is-danger is-large is-fullwidth"} %>
<% end %>
</div>
</div>