<%= render 'shared/dashboard' do |x| %>
<div class="drafts">
  <table class="table drafts-list is-fullwidth ">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Article Count</th>
      <th class="has-text-centered">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.reverse.each do |category| %>
      <tr>
        <th><%= category.id %></th>
        <td><%= category.description %></td>
        <td><%= category.articles.size %></td>
        <td>
          <div class="draft-action-buttons">
          <div class="action-button"><%= link_to 'Show', category,{target: '_blank',class:'button is-link'} %></div>
            <div class="action-button"><%= link_to 'Edit', edit_category_path(category),{class:'button is-primary'} %></div>
              <div class="action-button"><%= link_to 'Delete', category,class: 'button is-light',method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
<%end%>