<!DOCTYPE html>
<html lang="tr-TR">
<head>
  <title>Yusuf Duyar - Blog</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Raleway:300,300i,700,700i" rel="stylesheet">
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "blog-home" %>
  <%= stylesheet_link_tag "blog-post" %>
  <%= stylesheet_link_tag "article_form" %>
  <%= stylesheet_link_tag "normalize-rails" %>
  <%= stylesheet_link_tag "main" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery/jquery.min" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap.bundle.min" %>

  <%= javascript_include_tag "blog" %>
  <%= javascript_include_tag "ie10-viewport-bug-workaround" %>


</head>

<body>


<%= render 'shared/navigation' %>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key} fade-in") %>
<% end %>

<%= yield %>
<script>
    setTimeout("$('.alert').fadeOut('slow')", 5000)
</script>
<%= javascript_include_tag "fontawesome-all.min", :defer => 'defer' %>

</body>

</html>
